node_modules/
recordings/
save/reboot.json
save/reboot-*.json
*.log
auth.js
subModules.json

save/guilds/*
save/users/*
save/shards/*
save/hg/events/*

save/hgBattles.json
save/hgEvents.json
save/hgWebClients.json
save/webClients.json
save/rigged-counter.txt
save/pingHistory.json
save/knownShards.json
save/patreonCreatorTokens.json
save/shardStatsHistory.json

config/shardMasterConfig.js
config/shard_*_config.json

gApiCredentials*.json
